@inherits LayoutComponentBase
<!-- Top navigation -->
<div class="topnav">

    <!-- Centered link -->
    <div class="topnav-centered">
        <a href="#home" class="active">Home</a>
    </div>

    <!-- Left-aligned links (default) -->
    <a href="#news">News</a>
    <a href="#contact">Contact</a>

    <!-- Left-aligned search form -->
    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">Submit</button>
        </form>
    </div>

    <!-- Right-aligned links -->
    <div class="topnav-right">
        <a href="#search">Search</a>
        <a href="#about">About</a>

    </div>
    <!-- Right-aligned container in the nav bar -->
    <div class="container topnav-right" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
</div>

<!-- Animated Icon -->
<script>
    function myFunction(x) {
        x.classList.toggle("change");
    }
</script>






<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
